
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title">Pricing</h3>
        <p>You can open an account and use our services for free. The more advanced accounts offer a much greater range features and fewer limitations.</p>
    </div>
        
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-compact">
                <div class="medium-panel-title">What payment methods do you allow?</div>
            </div>
            <div class="panel-body panel-body-compact">
                <p>We currently allow payment from major credit and debit cards.</p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-compact">
                <div class="medium-panel-title">What currencies can I pay in?</div>
            </div>
            <div class="panel-body panel-body-compact">
                <p>Currently purchases can be made in either Pound Sterling, Euros or American Dollars. This can be changed on your account page.</p>
                <p>Please get in touch if it is important for other currencies to be supported.</p>
            </div>
        </div>
    </div>
</div>