<p>We have a 3 different ways credits can be purchased:</p>

<div class="row">
    <div class="col-md-4">
        <h3</h3>
        <p></p>
    </div>
    <div class="col-md-4">
        <h3</h3>
        <p></p>
    </div>
</div>

<hr />

<div>
    <span style="float:right;">
        <img src="~/images/Logos/cards/VISA.gif" alt="Visa Credit and Debit payments supported by Worldpay" asp-append-version="true">
        <img src="~/images/Logos/cards/mastercard.gif" alt="Mastercard payments supported by Worldpay" asp-append-version="true">
        <img src="~/images/Logos/cards/AMEX.gif" alt="American Express payments supported by Worldpay" asp-append-version="true">
        @*<img src=http://www.worldpay.com/images/cardlogos/visa_electron.gif alt="Visa Electron payments supported by Worldpay">
            <img src=http://www.worldpay.com/images/cardlogos/maestro.gif alt="Maestro payments supported by Worldpay">
            <img src=http://www.worldpay.com/images/cardlogos/diners.gif alt="Diners payments supported by Worldpay">
            <img src=http://www.worldpay.com/images/cardlogos/JCB.gif alt="JCB payments supported by Worldpay">
            <img src=http://www.worldpay.com/images/cardlogos/laser.gif alt="Laser payments supported by Worldpay">
            <img src=http://www.worldpay.com/images/cardlogos/ELV.gif alt="ELV payments supported by Worldpay">*@
    </span>

    <p>Payments can easily be changed or cancelled any time.</p>
    <p class="text-muted">Please <a asp-area="" asp-controller="Home" asp-action="Contact">contact us</a> if you have any special requirements.</p>
</div>

