@{
    ViewData["Title"] = "Access denied";
}

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>

<div>
    <p>You do not have access to this resource.</p>
</div>
