@{
    ViewData["Title"] = "Confirm Email";
}

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>

<div>
    <p>Thank you for confirming your email.</p>
</div>
