@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <p>Please check your email to reset your password.</p>
</div>

