@{
    ViewData["Title"] = "Locked out";
}

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <p class="text-danger">For security this account has been temporarily locked out due to failed login attempts, please try again later.</p>
</div>
