@model HomeModel

@{
    ViewData["Title"] = "WebsiteTemplate";
}

<div class="row top-margin">
    <div class="col-md-12">
        <div class="jumbotron-sm theme-standard">
            <h1 class="text-title-lg">WebsiteTemplate</h1>
        </div>
    </div>
</div>
