@{
    ViewData["Title"] = "Privacy statement";
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="active">@ViewData["Title"]</li>
</ul>

<div class="page-title-container">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Personal information</h3>
            </div>
            <div class="panel-body">
                <p>We are committed to client confidentiality and collect the smallest amount of data possible.</p>
                <p>You may choose to submit information by form, email or other means. We do not share any information with any 3rd parties other than we may be legally required to do so.</p>
                <p>We may contact you by email periodically to notify of any changes to the service or where otherwise important to do so.</p>
                <p>You have the right to request a copy of the personal information that we hold about you. If you would like a copy of this or if you have any questions about this privacy policy or how we handle your personal information, please contact us.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Security</h3>
            </div>
            <div class="panel-body">
                <p>We employ security measures to protect your information from access by unauthorised persons and against unlawful processing, accidental loss, destruction and damage. We will retain your information for a reasonable period or as long as the law requires.</p>
                <p>Emails are not encrypted, we would advise you to consider this when sending any sensitive information.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="large-panel-title">Cookies</h3>
            </div>
            <div class="panel-body">
                <p>Cookies are used to store your login session, this means that you will stay logged in even when you end your session.</p>
                <p>We do not use cookies to track activity or advertising, however we may use Google Analytics and Google Adwords.</p>
            </div>
        </div>
    </div>
</div>